ion-back-button.display {
	display: block;
}

ion-header.menu-header {
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;
	justify-content: center;
}

h3 {
	font-weight: bold;
}

h4 {
	color: #666;
}
